<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            text-align: center;
        }
        .center{
            text-align: left;
        }
    </style>
</head>
<body>
    <table border="1">
      <tr class="center">
      <td ></td>
      <td ></td>
      <td colspan="3">Morning </td>
      <td>lunch</th>
      <td colspan="4">Afternoon</td>
      <td colspan="3">Evening</td>
      </tr>
      <tr class="center" style="width: 2px;">
        <td></td>
        <td></td>
        <td style="width: 2px;">9-10 a.m.</td>
        <td style="width: 2px;">10-11 a.m.</td>
        <td style="width: 2px;">11-12 a.m.</td>
        <td style="width: 2px;">12-1 p.m.</td>
        <td style="width: 2px;">2-3 p.m.</td>
        <td style="width: 2px;">3-4 p.m.</td>
        <td style="width: 2px;">4-5 p.m.</td>
        <td style="width: 2px;">5-6 p.m.</td>
        <td style="width: 2px;">6-7 p.m.</td>
        <td style="width: 2px;">7-8 p.m.</td>
        <td style="width: 2px;">8-9 p.m</td>
      </tr>
      <tr>
        <td rowspan="2">Work</td>
        <td>Moday</td>
        <td colspan="3" >Development Meeting</td>
        <td></td>
        <td colspan="3">Client Meeting</td>
        <td>Commute</td>
        <td colspan="3">Free</td>
      </tr>     
      <tr>
        <td>Tuesday</td>
        <td colspan="3">in office </td>
        <td></td>
        <td colspan="7">in office</td>
      </tr> 
      <tr>
        <td rowspan="2">Lecture</td>
        <td>Wednesday</td>
        <td colspan="3">CSC205</td>
        <td></td>
        <td colspan="7">Preparation</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td colspan="3">MAM200</td>
        <td></td>
        <td colspan="3" style="width: min-content;">Tutorials <br> for<br> MAM200</td>
        <td colspan="4">Free</td>
      </tr>
      <tr>
        <td>Research</td>
        <td>Friday</td>
        <td colspan="3">Research</td>
        <td></td>
        <td colspan="7">Research</td>
      </tr>
    </table>
</body>
</html>